

<%= stylesheet_pack_tag "users" %>

<p>
  



  <div class="login-form shadow-sm p-3 mb-5 bg-white rounded" >
  <h1>Login</h1>
  <br />

    <p>
    <% flash.each do |name , msg| %>
     <%= content_tag :div , msg + '🙃' , class: 'alert alert-warning' , role: 'alert'  %>
    
    <% end %>
  </p>
  <%= form_with model: @user ,url: 'login' , local: true do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username , { class: 'form-control' } %>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  <br />
    <%= f.label :password %>
    <%= f.text_field :password , { class: 'form-control' } %>
  <br />
    <%= f.submit 'Go' , { class: 'btn btn-primary' } %>
  <% end %>
  </div>
</p>