<p>
  <h1>Login</h1>

  <p>
    <% flash.each do |name , msg| %>
      <%= content_tag :div , msg %>
    <% end %>
  </p>

  <%= form_with model: @user ,url: 'login' , local: true do |f| %>
  <%= tag(:input, :type => "hidden", :name =>   
request_forgery_protection_token.to_s, :value =>   
form_authenticity_token) %> 
    <%= f.label :username %>
    <%= f.text_field :username %>
  <br />
    <%= f.label :password %>
    <%= f.text_field :password %>
  <br />
    <%= f.submit %>
  <% end %>
</p>