
<%= stylesheet_pack_tag "users" %>

<div class="login-form shadow-none p-3 mb-5 bg-light rounded">

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Thank you!</h4>
  <p> It's still Beta, but thanks anyway </p>
  <hr>
  <p class="mb-0">By SDTTTTT</p>
</div>

<p>
<h1>Register</h1>

<p>
  <% flash.each do |name , msg| %>
    <%= content_tag :div , msg %>
  <% end %>
</p>

<%= form_with scope: :register_form,url: 'register' , local: true do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username , class: 'form-control' %>
  <br />
  <%= f.label :password  %>
  <%= f.password_field :password , class: 'form-control' %>
  <br />
  <%= f.label 'again password' %>
  <%= f.password_field :repassword , class: 'form-control' %>
  <br />
  <%= f.submit 'OK?' , class: 'btn btn-primary' %>
<% end %>
</p>
</div>