

<p class="text-justify">
  <p class="lead">
  
  </p>
</p>

<div class="jumbotron">

  <h1 class="display-4"><%= @product.name %></h1>
  <p class="lead"><%= @product.depscription %></p>
</div>

<p>


<br />
<hr />
<br />

<h4 class="display-8">Comments</h4>

  <% if @product.comments.empty? %>

    <p></p>
    <h5> 评论区空空如也🙃 </h5>

  <% else %>

  <div class="list-group">
  <% @product.comments.each do |comment| %>

    <a  class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><%= comment.commenter %></h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1"><%= comment.body %></p>
    <small class="text-muted">✔</small>
  </a>
  <% end %>
  </div>

  <% end %>

</p>

<br />
<hr />
<br />
<p>
<div class='comment-form' >
<h5 >Add Comment</h4> 
  <%= form_with(model: [@product , @product.comments.build] , local: true) do |f|%>
  
  <p>
    <%= f.text_area :body , class: 'form-control' %>
  </p>
  <p>
    <%= f.submit 'Commit' , class: 'btn btn-primary' %>
  </p>
  <% end %>
</p>
</div>