<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless session[:crrent_user].nil? %>
    <p>
      Welcome, <%= session[:crrent_user]['username'] %> 
      <%= link_to "Logout", products_path %> 
    </p>
  <% else %>
    <p>
      not Login, Click <%= link_to "Login" , login_path %>
    </p>
  <% end %>

    <%= yield %>
  </body>
</html>
